<?php if ( isset($logged) ): ?>
<span style="    display: block;
    position: absolute;
    top: -51px;
    z-index: 9999;
    width: 219px;
    right: 6px;">
	<img src="/human.png" style="margin-right: 15px">
	<a href="/index.php?route=account/account" style="color:black; background: none; padding-top: 0; cursor: pointer">Личный кабинет</a> |
	<a href="/index.php?route=account/logout" id="f-link" style="background: none; padding-top: 0;">Выход</a>
</span>
<?php else: ?>
<span style="    display: block;
    position: absolute;
    top: -51px;
    z-index: 9999;">
	<img src="/human.png" style="margin-right: 15px">
	<a data-toggle="modal" data-target="#myModal" style="color:black; background: none; padding-top: 0; cursor: pointer">Вход</a> |
	<a href="/index.php?route=account/register" id="f-link" style="background: none; padding-top: 0;">Регистрация</a>
</span>
<?php endif; ?>


<nav id="top-links" class="nav toggle-wrap">
	<!--<a href="#" class="toggle"><i class="material-icons-face"></i><span class="material-icons-arrow_drop_down"><?php echo $text_account; ?></span></a>-->
	<ul class="toggle_cont" style="box-shadow: none">
		<!--<li><a href="<?php echo $wishlist; ?>" id="wishlist-total"><i class="material-icons-favorite"></i><span><?php echo $text_wishlist; ?></span></a></li>-->
		<!--<li class="toggle-wrap">
			<a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>" class="toggle"><i class="material-icons-face"></i><span><?php echo $text_account; ?></span></a>
			<ul class="toggle_cont">
				<?php if ($logged) { ?>
				<li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
				<li><a href="<?php echo $compare; ?>" id="compare-total2"><?php echo $text_compare; ?></a></li>
				<li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
				<li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
				<li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
				<li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
				<?php } else { ?>
				<li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
				<li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
				<?php } ?>
			</ul>
		</li>-->

		</li>

		<li><a href="<?php echo $shopping_cart; ?>">
				<img src="/buy.png" class="img-responsive" style="margin-right: 15px; margin-top: 25px; width: 21px; height: 21px; display: inline-block;">
				<span style="font-size: 13px; margin-top: 23px; display: inline-block; color: #4c9ad2; text-transform: uppercase;"><?php echo $text_shopping_cart; ?></span></a>
		</li>

	</ul>
</nav>

<style>
	#cart-top-count {
		background: white;
		border-radius: 50%;
		border: 2px solid red;
		width: 17px;
		height: 17px;
		margin-left: -17px;
		text-align: center;
		color: red;
	}
</style>

