a:hover {
    color: #699ad1;
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li > a.active {
    color: #ffffff;
}

.sf-menu > li > a:before {
    background: #ffffff;
}

.block-slider:before {
    background: #fff;
}

.block-slider:before {

}

aside .megamenu .submenu_title > a:hover, aside .megamenu .submenu_title > a:focus, aside .megamenu .submenu_title > a:active, aside .megamenu .submenu_title > a.active, .column-left .megamenu .submenu_title > a:hover, .column-left .megamenu .submenu_title > a:focus, .column-left .megamenu .submenu_title > a:active, .column-left .megamenu .submenu_title > a.active, .col-lg-3 .megamenu .submenu_title > a:hover, .col-lg-3 .megamenu .submenu_title > a:focus, .col-lg-3 .megamenu .submenu_title > a:active, .col-lg-3 .megamenu .submenu_title > a.active {
    color: #699ad1;
}

aside .megamenu .submenu_title + ul li.sfHover > a, aside .megamenu .submenu_title + ul li > a:hover, aside .megamenu .submenu_title + ul li > a:focus, aside .megamenu .submenu_title + ul li > a:active, aside .megamenu .submenu_title + ul li > a.active, .column-left .megamenu .submenu_title + ul li.sfHover > a, .column-left .megamenu .submenu_title + ul li > a:hover, .column-left .megamenu .submenu_title + ul li > a:focus, .column-left .megamenu .submenu_title + ul li > a:active, .column-left .megamenu .submenu_title + ul li > a.active, .col-lg-3 .megamenu .submenu_title + ul li.sfHover > a, .col-lg-3 .megamenu .submenu_title + ul li > a:hover, .col-lg-3 .megamenu .submenu_title + ul li > a:focus, .col-lg-3 .megamenu .submenu_title + ul li > a:active, .col-lg-3 .megamenu .submenu_title + ul li > a.active {
    color: #699ad1;
}

aside .megamenu .sf-menu > li > a, aside .megamenu .sf-menu > li > span, .column-left .megamenu .sf-menu > li > a, .column-left .megamenu .sf-menu > li > span, .col-lg-3 .megamenu .sf-menu > li > a, .col-lg-3 .megamenu .sf-menu > li > span {
    background: #699ad1;
}

aside .megamenu .sf-menu > li.sfHover > a, aside .megamenu .sf-menu > li > a:hover, aside .megamenu .sf-menu > li > a.active, .column-left .megamenu .sf-menu > li.sfHover > a, .column-left .megamenu .sf-menu > li > a:hover, .column-left .megamenu .sf-menu > li > a.active, .col-lg-3 .megamenu .sf-menu > li.sfHover > a, .col-lg-3 .megamenu .sf-menu > li > a:hover, .col-lg-3 .megamenu .sf-menu > li > a.active {
    color: #000;
}

aside .megamenu li li > a, aside .megamenu .sf-menu .sf-mega li > a, .column-left .megamenu li li > a, .column-left .megamenu .sf-menu .sf-mega li > a, .col-lg-3 .megamenu li li > a, .col-lg-3 .megamenu .sf-menu .sf-mega li > a {
    color: #2f2f2f;
}

aside .megamenu li li.sfHover > a, aside .megamenu li li > a:hover, aside .megamenu li li > a.active, aside .megamenu .sf-menu .sf-mega li.sfHover > a, aside .megamenu .sf-menu .sf-mega li > a:hover, aside .megamenu .sf-menu .sf-mega li > a.active, .column-left .megamenu li li.sfHover > a, .column-left .megamenu li li > a:hover, .column-left .megamenu li li > a.active, .column-left .megamenu .sf-menu .sf-mega li.sfHover > a, .column-left .megamenu .sf-menu .sf-mega li > a:hover, .column-left .megamenu .sf-menu .sf-mega li > a.active, .col-lg-3 .megamenu li li.sfHover > a, .col-lg-3 .megamenu li li > a:hover, .col-lg-3 .megamenu li li > a.active, .col-lg-3 .megamenu .sf-menu .sf-mega li.sfHover > a, .col-lg-3 .megamenu .sf-menu .sf-mega li > a:hover, .col-lg-3 .megamenu .sf-menu .sf-mega li > a.active {
    color: #699ad1;
}

.sf-menu .sf-mega {
    background-color: #2999ca;
}

.search button {
    /*color: #499ad3;*/

    color: white;
    background: #4c9ad2;
    width: 69px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search button:focus, .search button:active {
    color: #499ad3;
}

.search button:hover, .search button:focus:hover, .search button:active:hover {
    color: #7486ab;
}

#livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
    background-color: #699ad1;
}

.sbOptions li a:hover {
    color: #699ad1;
}

.swiper-container:before {
    /*  background: #e2ebfb;
      background-image: linear-gradient(90deg, #e2ebfb, #e2ebfb 31.3%, #9ab5f2 31.3%, #9ab5f2 71.2%, #486de3 71.2%, #486de3); */
}

.option-color .radio input[type="radio"]:checked + label:after {
    border-color: #699ad1;
}

.product-btn:hover, .product-btn:focus, .product-btn:active {
    color: #699ad1;
}

.product-btn:hover i, .product-btn:focus i, .product-btn:active i {
    color: #699ad1;
}

.swiper-slide .desc b {
    color: #699ad1;
}

.swiper-pagination-bullet-active {
    border-color: #6cb0e7;
}

.banners > div[class*="banner-top-"] > div {
    background: #d8312e;
}

.banners > div[class*="banner-top-"]:nth-child(2n) > div {
    background: #699ad1;
}

.banners > div[class*="banner-top-"]:nth-child(3n) > div {
    background: #635f7d;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #699ad1;
}

.product_tabs .nav-tabs > li.active > a, .product_tabs .nav-tabs > li > a:hover {
    color: #699ad1;
}

.price {
    color: #699ad1;
}

.price-new {
    color: #d8312e;
}

header:before {
    background-color: #7486ab;
}

.cart > button i {
    color: #499ad3;
}

.cart > button:hover, .cart > button.active {
    color: #699ad1;
}

.box-language .btn-group span:hover, .box-language .btn-group span:focus, .box-language .btn-group span:active, .box-language .btn-group span.sfHover, .box-currency .btn-group span:hover, .box-currency .btn-group span:focus, .box-currency .btn-group span:active, .box-currency .btn-group span.sfHover {
    color: #699ad1;
}

.box-language .toggle_cont li button:hover, .box-language .toggle_cont li button:focus, .box-language .toggle_cont li button:active, .box-language .toggle_cont li button.selected, .box-language .toggle_cont li a:hover, .box-language .toggle_cont li a:focus, .box-language .toggle_cont li a:active, .box-language .toggle_cont li a.selected, .box-currency .toggle_cont li button:hover, .box-currency .toggle_cont li button:focus, .box-currency .toggle_cont li button:active, .box-currency .toggle_cont li button.selected, .box-currency .toggle_cont li a:hover, .box-currency .toggle_cont li a:focus, .box-currency .toggle_cont li a:active, .box-currency .toggle_cont li a.selected {
    color: #699ad1;
}

.social-block a:hover {
    color: #699ad1;
}

.header-top-block a {
    color: #fff;
}

.header-top-block a:visited {
    color: #fff;
}

.header-top-block a:hover, .header-top-block a:focus, .header-top-block a:active {
    color: #699ad1;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #699ad1;
    border-color: #699ad1;
}

.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    background: #7486ab;
}

.btn:visited, .btn-default:visited, .btn-primary:visited, .btn-success:visited, .btn-info:visited, .btn-warning:visited, .btn-danger:visited {
    background: #7486ab;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited:hover, .btn:focus:active, .btn:active:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:visited:hover, .btn-default:focus:active, .btn-default:active:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited:hover, .btn-primary:focus:active, .btn-primary:active:focus, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:visited:hover, .btn-success:focus:active, .btn-success:active:focus, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:visited:hover, .btn-info:focus:active, .btn-info:active:focus, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited:hover, .btn-warning:focus:active, .btn-warning:active:focus, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:visited:hover, .btn-danger:focus:active, .btn-danger:active:focus {
    background: #d8312e;
}

.btn-primary {
    background: #699ad1;
}

.btn-primary:visited {
    background: #699ad1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited:hover, .btn-primary:focus:active, .btn-primary:active:focus {
    background: #d8312e;
}

.btn-icon {
    background: rgba(105, 154, 209, 0.5);
}

.btn-icon:visited {
    background: rgba(0, 130, 177);
}

.btn-icon:hover, .btn-icon:focus, .btn-icon:active {
    background: rgba(216, 49, 46, 0.5);
}

.btn-add {
    background: #699ad1;
}

.btn-add:visited {
    background: #699ad1;
}

.btn-add:hover, .btn-add:focus, .btn-add:active {
    background: #d8312e;
}

input[type="radio"]:checked + label:after {
    background-color: #699ad1;
}

input[type="checkbox"] + label:after,
.count-box strong,
.testimonials blockquote:before,
.terms_conditions_page h4:before,
.contact_page .icon:before,
aside #blog-search a:hover,
.link, .link:focus, .link:visited,
.agree:hover b,
.checkout-checkout #content .table-responsive .table tfoot tr:last-child td:last-child,
#style_switcher .toggler:hover,
h1 i,
.price-tx {
    color: #0082b1;
}

.link:hover {
    color: #2f2f2f;
}

.price b {
    color: #d8312e;
}

.sale, .discount, .new-pr {
    background: #d8312e;
}

.new-pr {
    background: #699ad1;
}

.counter:hover, .counter:focus:hover {
    color: #699ad1;
}

.ajax-quickview-images .next-img,
.ajax-quickview-images .prev-img {
    background: rgba(105, 154, 209, 0.6);
}

.ajax-quickview-images .next-img:hover,
.ajax-quickview-images .prev-img:hover {
    color: #fff;
    background: #699ad1;
}

.banners > div .banner-box {
    background: #699ad1;
}

.banners > div.col-sm-4.banner-big .banner-box {
    background: #645f7d;
}

.html-module.home-links .third.plane a {
    background: #9ab5f2;
}

.html-module.home-links .third.rocket a {
    background: #486de3;
}

.html-module.home-links .third.like a {
    background: #7486ab;
}

.article-title a:hover, .article-title a:active, .article-title a:focus {
    color: #699ad1;
}

.article-date a:hover, .article-comments a:hover, .article-author a:hover {
    color: #699ad1;
}

footer a:hover {
    color: #699ad1;
}

footer .megamenu ul.sf-menu > li > a:hover, footer .megamenu ul.sf-menu > li > a:focus, footer .megamenu ul.sf-menu > li > a:active, footer .megamenu ul.sf-menu > li > a.active {
    color: #699ad1;
}

footer .megamenu ul.sf-menu > li.active > a, footer .megamenu ul.sf-menu > li a:hover, footer .megamenu ul.sf-menu > li a.active {
    color: #699ad1;
}

.newsletter button {
    color: #699ad1;
}

.copyright a:hover {
    color: #699ad1;
}

.ui-to-top:focus, .ui-to-top:hover {
    color: #699ad1;
}

.ui-to-top:hover {
    color: #699ad1;
    border-color: #699ad1;
}

div.mfilter-content-opts .mfilter-options .mfilter-search #mfilter-opts-search_button {
    color: #7486ab;
}

div.mfilter-content-opts .mfilter-options .mfilter-search #mfilter-opts-search_button:hover {
    color: #699ad1;
}

div.mfilter-content-opts .mfilter-options .mfilter-price .mfilter-slider-slider .ui-slider-range, div.mfilter-content-opts .mfilter-options .mfilter-price #mfilter-price-slider .ui-slider-range {
    background: #699ad1 !important;
}

div.mfilter-content-opts .mfilter-options .mfilter-price .mfilter-slider-slider .ui-slider-handle, div.mfilter-content-opts .mfilter-options .mfilter-price #mfilter-price-slider .ui-slider-handle {
    background: #699ad1 !important;
}

div.mfilter-heading .mfilter-head-icon:hover {
    color: #699ad1;
}

.mfilter-option > div input[type="checkbox"]:checked:before {
    background: #699ad1;
    border-color: #699ad1;
}

.iScrollIndicator {
    background-color: #699ad1 !important;
}

#list-view:hover,
#grid-view:hover,
#list-view.active,
#grid-view.active {
    color: #699ad1;
}

.button-view .compare-total:hover, .button-view .compare-total:focus, .button-view .compare-total:active {
    color: #699ad1;
}

.owl-carousel .owl-nav div {
    background: rgba(105, 154, 209, 0.6);
}

.owl-carousel .owl-nav div:hover {
    background: #699ad1;
}

.sbToggle:hover {
    color: #699ad1;
}

.cart .toggle_cont strong, .cart .toggle_cont b {
    color: #d8312e;
}

.box-cart .btn-danger:hover, .box-cart .btn-danger:focus:hover {
    color: #699ad1;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #699ad1;
}

.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus, .pagination > li.active > span, .pagination > li.active > span:hover, .pagination > li.active > span:focus {
    color: #699ad1;
}

.product-gallery .image-thumb .bx-wrapper .bx-prev, .product-gallery .image-thumb .bx-wrapper .bx-next {
    color: #fff;
    background: rgba(105, 154, 209, 0.6);
}

.product-gallery .image-thumb .bx-wrapper .bx-prev:hover, .product-gallery .image-thumb .bx-wrapper .bx-next:hover {
    color: #fff;
    background: #699ad1;
}

.general_info a:hover, .product-rating-status .review-link-show a:hover {
    color: #699ad1;
}

.icon-box i,
.privacy_page ol li h4:before {
    background-color: #699ad1;
}

.contact_page .icon:before {
    border-color: #699ad1;
}

.thumbnail a:hover {
    border-color: #699ad1;
}

.datepicker .prev:hover, .datepicker .prev.active, .datepicker .next:hover, .datepicker .next.active, .datepicker .day:hover, .datepicker .day.active, .datepicker .year:hover, .datepicker .year.active, .datepicker .month:hover, .datepicker .month.active, .datepicker .picker-switch:hover, .datepicker .picker-switch.active {
    color: #699ad1;
}

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td span:hover {
    color: #699ad1;
}

.bootstrap-datetimepicker-widget td.day.active, .bootstrap-datetimepicker-widget td.day.active:hover,
.bootstrap-datetimepicker-widget td.minute.active,
.bootstrap-datetimepicker-widget td.minute.active:hover,
.bootstrap-datetimepicker-widget td.hour.active,
.bootstrap-datetimepicker-widget td.hour.active:hover,
.bootstrap-datetimepicker-widget td.second.active,
.bootstrap-datetimepicker-widget td.second.active:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th.active,
.bootstrap-datetimepicker-widget thead tr:first-child th.active:hover,
.bootstrap-datetimepicker-widget td span.active,
.bootstrap-datetimepicker-widget td span.active:hover {
    color: #fff;
    background-color: #699ad1;
}

.bootstrap-datetimepicker-widget a[data-action]:hover,
.bootstrap-datetimepicker-widget .timepicker td > span:hover {
    color: #699ad1;
}

.common-home .article-image:before, .common-home .article-image:after {
    background: #699ad1;
}

.common-home .article-image a:before, .common-home .article-image a:after {
    background: #699ad1;
}

aside .blog-categories ul > li > a:hover {
    background: #b7cfe9;
}

.breadcrumb a:hover {
    color: #699ad1;
}

.breadcrumb a:hover i {
    color: #699ad1;
}

.article-comment .reply-message a:hover {
    color: #699ad1;
}

.site-map-page #content ul.category-list:before {
    background: #699ad1;
}

.site-map-page #content ul.category-list > li:before, .site-map-page #content ul.category-list > li:after {
    background: #699ad1;
}

#podpiska input[type="radio"]:checked + label:after {
    background: none !important;
    content: '\f00c';
    font-family: FontAwesome;
    top: 0;
    left: 0;
}